<!-- ///////////////////// password form ///////////////////// -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">modifier mot de passe</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">mot de pass Actuelle</label>
                <input class="form-control" [(ngModel)]="currentPassword" type="password">
                <label for="dateOfBirth">Nouveau mot de passe</label>
                <input class="form-control" [(ngModel)]="newPassword" type="password">
                <label for="dateOfBirth">confirme mot de passe</label>
                <input class="form-control" [(ngModel)]="confPassword" type="password">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="submit " class="btn btn-info btn-danger pull-right">Registrer</button>

    </div>
</ng-template>

<!-- ///////////////////// image form ///////////////////// -->
<div class="content" style="padding-top: 100px;">
    <div class="container-fluid">
        <div class="section-title">
            <h3>Profil </h3>
        </div>
        <div class="row col-md ">
            <div class="col-md-4 ">
                <div class="card card-user ">
                    <div class="card-image ">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400 " alt="... ">
                    </div>
                    <div class="card-body ">
                        <div class="author ">
                            <a>
                                <img class="avatar border-gray " [src]="image" alt="... ">
                                <h5 class="title "> {{userData.lastname}} {{userData.firstname}}</h5>
                            </a>

                        </div>
                        <p class="description text-center">
                            {{userData.description}}
                        </p>
                    </div>
                    <hr>
                    <div *ngIf="imageImageUploaded" class=" notif-container col-11 col-sm-12 alert alert-success alert-with-icon" role="alert">
                        <button type="button" aria-hidden="true" class="close" (click)="closeNotif()"><i class="nc-icon nc-simple-remove"></i></button>
                        <span data-notify="icon" class="nc-icon nc-app"></span>
                        <span data-notify="title"> Image Uploaded</span>
                    </div>
                    <div class="button-container mr-auto ml-auto ">
                        <input type="file" id="img" name="img " accept="image/* " (change)="onFileChanged($event) " class="form-control " />
                        <button type="submit" class="btn btn-danger btn-fill pull-right" [disabled]="_imgButtonEnabel" (click)="onUpload() ">modifier l'image</button>
                    </div>
                </div>
            </div>
            <!-- ///////////////////// profil form ///////////////////// -->
            <div class="col-md-8 d-flex flex-column">
                <div class="card" style="width: 90%; ">
                    <div class="card-header">
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profilForm">
                            <div class="row">
                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="text" class="form-control" disabled="" placeholder="email" value=" {{userData.email}}">
                                    </div>
                                </div>
                                <div class="col-md-6 px-1">
                                    <div class="form-group">
                                        <label>Cin</label>
                                        <input type="text" formControlName="cin" class="form-control" placeholder="Cin">
                                    </div>
                                </div>
                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Phone Number</label>
                                        <input type="number" class="form-control" formControlName="phonenumber" placeholder="phonenumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Company" formControlName="firstname">
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-1 ">
                                    <div class="form-group ">
                                        <label>Last Name</label>
                                        <input type="text " class="form-control " placeholder="Last Name " formControlName="lastname">
                                    </div>
                                </div>
                            </div>
                            <!-- ========= Teacher form ========== -->
                            <div class="row" *ngIf="userConnected=='ROLE_TEACHER'">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>matricule</label>
                                        <input type="text" class="form-control" placeholder="Company" formControlName="matricule">
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-1 ">
                                    <div class="form-group ">
                                        <label>Lavel</label>
                                        <input type="text" class="form-control" formControlName="level">

                                        <!-- <select class="form-control" formControlName="level">
                                            <option *ngFor="let option of options" [selected]="option.selected == profilForm.level"> {{option}}</option>   
                                          </select> -->
                                    </div>
                                </div>
                            </div>


                            <!-- new /////////////////////////////////////////////// -->
                            <div class="form-row" *ngIf="userConnected=='ROLE_TEACHER'">
                                <div class="form-group col-md-6">
                                    <label>diplôme obtenu</label>
                                    <input type="text" class="form-control" formControlName="degreeobtained">

                                    <!-- <select class="form-control" string formControlName="degreeobtained">
                                        <option [ngValue]="null" disabled>choisir votre déplome</option>
                                        <option *ngFor="let diploma of diplomaList" [value] ="diploma" [selected]="diploma.selected == profilForm.degreeobtained"> {{diploma}}</option>   
                                      </select> -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label>établissement de diplôme</label>
                                    <input type="text" class="form-control" formControlName="diplomainstituation">

                                    <!-- <select class="form-control" formControlName="diplomainstituation">
                                       <option *ngFor="let esestablishment of establishments" [selected]="esestablishment.selected == profilForm.diplomainstituation" > {{esestablishment}}</option>   
                                  </select> -->
                                </div>
                            </div>
                            <div class="form-row" *ngIf="userConnected=='ROLE_TEACHER'">
                                <div class="form-group col-md-6">
                                    <label>annnéés d'experience</label>
                                    <input type="number" class="form-control" formControlName="yearsexperience">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Certificat</label>
                                    <input type="text" class="form-control" formControlName="certificat">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="userConnected=='ROLE_TEACHER'">
                                <div style="    padding: 0px 10px;">
                                    <label>URL</label>
                                    <input type="text" class="form-control" formControlName="url">
                                </div>
                            </div>
                            <!-- new /////////////////////////////////////////////// -->
                            <div class="row" *ngIf="userConnected=='ROLE_TEACHER'">
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" placeholder="Company" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- ========= end  Teacher form ========== -->

                            <!-- ========= Stuff form ========== -->
                            <div class="row" *ngIf="userConnected=='ROLE_STUFF'">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Poste</label>
                                        <input type="text" class="form-control" formControlName="poste">

                                        <!-- <select class="form-control" formControlName="poste">
                                            <option *ngFor="let option of optionsstuff" [selected]="option.selected == profilForm.poste" > {{option}}</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-1 ">
                                    <div class="form-group ">
                                        <label>Matricule</label>
                                        <input type="text " class="form-control " placeholder="poste " formControlName="matricule">
                                    </div>
                                </div>
                            </div>
                            <!-- ========= end  stuff form ========== -->
                            <div *ngIf="userUploaded" class=" notif-container col-11 col-sm-12 alert alert-success alert-with-icon" role="alert">
                                <span data-notify="icon" class="nc-icon nc-app"></span>
                                <span data-notify="title">l'utilisateur a modifié</span>
                            </div>
                            <div class=" d-flex justify-content-end">
                                <button type="submit " class="btn btn-danger btn-fill pull-right mr-auto p-2" [disabled]="profilForm.invalid || !profilForm.touched" (click)="updateUser() ">modifier le profil </button>

                                <button type="submit " class="btn btn-danger  btn-fill pull-right" (click)="open(content) ">Modifier mot de pass </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ///////////////////// skill form ///////////////////// -->
                <div class="card " style="width: 90%; " *ngIf="userConnected=='ROLE_TEACHER'">
                    <div class="card-header ">
                        <h4 class="card-title ">Votre Compétence</h4>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="profilForm ">
                            <div class="row ">
                                <div class="col-md-3 ">
                                    <div class="form-group ">
                                        <label>ajouter un </label>
                                    </div>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="form-group ">
                                        <div class="form-group col-md-11 " style="padding-top: 2.5px; ">
                                            <ng-multiselect-dropdown formControlName="skill" [placeholder]=" 'Compétence' " [settings]="dropdownSettings " [data]="dropdownList " (onSelect)="onItemSelect($event) " (onSelectAll)="onSelectAll($event) ">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 ">
                                    <button type="submit " class="btn btn-danger btn-fill " (click)="addSkills() ">Ajouter Compétence</button>
                                </div>
                            </div>
                            <div class="row " *ngFor="let skill of userData.skills ">
                                <div class="col-md-11 ">
                                    <div class="form-group ">
                                        <label>{{skill.name}} </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="d-flex ajustify-content-center ">
                                        <div (click)=removeskills(skill.id) style="cursor:pointer; ">
                                            <img src="assets/img/trash-can.png " style="height: 30px; ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center "></div>
    </div>
</div>