<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="bower_components/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div style="padding: 100px 0px;width: 100%; background:url(assets/img/epi.png); height: 175%; background-attachment: fixed;">
    <div class="row justify-content-center" style="margin: 0 !important">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header ">
                    <a class="float-right btn btn-outline-danger mt-1" (click)="navigateTo('login')">Connexion</a>
                    <h4 class="card-title mt-2 text-danger">S'inscrire</h4>
                </header>
                <article class="card-body">
                    <form [formGroup]="signupForm">
                        <!--//////////////////////////////////// First block //////////////////////////////////// -->
                        <div *ngIf="formBlock==1">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>prénom </label>
                                    <input type="text" class="form-control" formControlName="firstname">
                                    <label position="stacked" class="error" *ngIf="signupForm.get('firstname').errors && signupForm.get('firstname').dirty">
                                        prénom obligatoire
                                    </label>
                                </div>
                                <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>nom</label>
                                    <input type="text" class="form-control" formControlName="lastname">
                                    <label position="stacked" class="error" *ngIf="signupForm.get('lastname').errors && signupForm.get('lastname').dirty">
                                        nom obligatoire
                                    </label>
                                </div>
                                <!-- form-group end.// -->
                            </div>
                            <!-- form-row end.// -->
                            <div class="form-group">
                                <label>Adresse e-mail</label>
                                <input type="email" class="form-control" formControlName="email">
                                <label position="stacked" class="error" *ngIf="signupForm.get('email').errors && signupForm.get('email').dirty">
                                    email obligatoire
                                </label>
                            </div>
                            <div class="form-group">
                                <label>numéro de téléphone </label>
                                <input type="number" class="form-control" formControlName="phonenumber">
                                <label position="stacked" class="error" *ngIf="signupForm.get('phonenumber').errors && signupForm.get('phonenumber').dirty">
                                    numéro de téléphone obligatoire
                                </label>
                            </div>
                            <div class="form-group">
                                <label>mot de passe</label>
                                <input class="form-control" formControlName="password" type="password">
                                <label position="stacked" class="error" *ngIf="signupForm.get('password').errors && signupForm.get('password').dirty">
                                    mot de passe obligatoire
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Confirmer mot de passe</label>
                                <input class="form-control" formControlName="confirmPassword" type="password">
                                <label position="stacked" class="error" *ngIf="signupForm.hasError('notSame') && signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').errors && signupForm.get('confirmPassword').dirty"> 
                                          c'est pas la meme
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger float-right" (click)="suiv()"> Suivant  </button>
                            </div>

                        </div>
                        <!--//////////////////////////////////// second block //////////////////////////////////// -->

                        <div *ngIf="formBlock==2">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>CIN </label>
                                    <input type="number" class="form-control" formControlName="cin">
                                    <label position="stacked" class="error" *ngIf="signupForm.get('cin').errors && signupForm.get('cin').dirty">
                                        cin obligatoire
                                    </label>
                                </div>
                                <div class="col form-group">
                                    <label>Matricule</label>
                                    <input type="text" class="form-control" formControlName="matricule">
                                    <label position="stacked" class="error" *ngIf="signupForm.get('matricule').errors && signupForm.get('matricule').dirty">
                                        matricule obligatoire
                                    </label>
                                </div>
                            </div>
                            <!-- change User Type -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Type</label>
                                    <select id="inputState" class="form-control" (change)="onItemSelectType($event.target.value)" formControlName="level">
                                    <option *ngFor="let type of types" > {{type}}</option>
                                </select>
                                </div>
                            </div>
                            <!-- Form stuff -->
                            <div class="form-row">
                                <div class="form-group col" *ngIf="userType=='Stuff'">
                                    <label>Poste</label>
                                    <select id="inputState" class="form-control" formControlName="poste">
                                  <option *ngFor="let option of optionsstuff" > {{option}}</option>
                                </select>
                                </div>
                            </div>
                            <!-- end Form stuff -->
                            <!-- Form teacher -->
                            <div class="form-row" *ngIf="userType=='Teacher'">
                                <div class="form-group col-md-6">
                                    <label>niveau</label>
                                    <select id="inputState" class="form-control" formControlName="level">
                                       <option *ngFor="let option of options" > {{option}}</option>   
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Compétence</label>
                                    <ng-multiselect-dropdown formControlName="skill" [placeholder]="'Compétence'" [settings]="dropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="userType=='Teacher'">
                                <label>Description</label>
                                <textarea class="form-control" formControlName="description" type="text"></textarea>
                            </div>
                            <!-- end form teacher -->

                            <div *ngIf=valid>
                                <label style="color:red;">tous les champs obligatoire</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger float-left" (click)="prev()"> prev  </button>
                                <button type="submit" class="btn btn-danger float-right" (click)="signup()"> Register  </button>

                            </div>
                        </div>
                        <!-- form-group// -->
                    </form>
                </article>
                <!-- card-body end .// -->

            </div>
            <!-- card.// -->
        </div>
        <!-- col.//-->

    </div>
    <!-- row.//-->
</div>
<!--container end.//-->