<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="section-title">
            <h5 class="section-title h1">NOTRE PROFESSEUR</h5>
        </div>
        <div class="row col-md ">

            <div class="col-md-12 d-flex justify-content-center container-search">
                <div class="input-group">
                    <div class="row">
                        <div></div>
                    </div>
                    <select class="form-control" name="category" [(ngModel)]="_category" (change)="searchTeacherByCategorie()">
                        <option *ngFor="let option of listCategories" [selected]="option.selected == 'tous'"> {{option.name}}</option>   
                     </select>
                    <select id="inputState" style="margin-right: 20px;" class="form-control" [(ngModel)]="skill">
                        <option *ngFor="let option of options" > {{option.name}}</option>
                      </select>
                    <input type="search" class="form-control rounded" placeholder="prenom" [(ngModel)]="searchName" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" (click)="searchTeacher()" class="btn btn-outline-danger">search</button>
                </div>
            </div>

        </div>
        <div *ngIf="notifToggle" class=" notif-container col-11 col-sm-12 alert alert-success alert-with-icon" role="alert">
            <button type="button" aria-hidden="true" class="close" (click)="closeNotif()"><i class="nc-icon nc-simple-remove"></i></button>
            <span data-notify="icon" class="nc-icon nc-app"></span>
            <span data-notify="title">{{notifBody}}</span>
        </div>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let teacher of listTeachers | serchTeacher: searchName | paginate: { itemsPerPage: 6, currentPage: p }">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="http://localhost:3000/{{teacher.avatar}}" alt="card image"></p>
                                    <h4 class="card-title">{{teacher.lastname}} {{teacher.firstname}}</h4>
                                    <p class="card-text"> {{teacher.email}}</p>
                                    <p class="card-text"> {{teacher.phonenumber}}</p>
                                    <p class="card-text">{{teacher.level}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4" style="width: 350px;">
                                    <h4 class="card-title">{{teacher.lastname}} {{teacher.firstname}}</h4>
                                    <p class="card-text">{{teacher.description}}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item" *ngFor="let skill of teacher.skills">
                                            <p style="color: #31a2b8;font-weight: 800;">| {{skill.name}}</p>
                                        </li>
                                    </ul>
                                    <a (click)="addFavorite(teacher)" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
        <div class="d-flex justify-content-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</section>
<!-- Team -->