<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h3>Welcome to <strong>EPI</strong></h3>
        <h1>TROUVEZ VOTRE POSTE DE RÊVE</h1>
        <!-- <h2>We are Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci</h2> -->
        <button (click)="scrollToElement(offer)" class="btn-get-started">Get Started</button>
    </div>
</section>
<!-- End Hero -->
<div #offer id="offer" style="padding-top: 90px;">
    <div class="section-title">
        <h2>Offer</h2>
        <h3>La liste des <span>Offres</span></h3>
        <p>Vous trouverez ici de nouvelles opportunités d'emploi</p>
    </div>
    <section id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 entries">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-stretch" *ngFor="let offre of listOffres | paginate: { itemsPerPage: 3, currentPage: p }">
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="http://localhost:3000/{{offre.avatar}}" alt="" class="img-fluid">
                                </div>

                                <h2 class="entry-title">
                                    {{offre.title}}</h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"> <i class="nc-icon nc-single-02 "></i> {{offre.Personel.firstname}} {{offre.Personel.lastname}}</li>
                                        <li class="d-flex align-items-center"><i class="nc-icon nc-time-alarm"></i> <time datetime="2020-01-01"> {{offre.deadline}}</time></li>
                                    </ul>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"> <i class="nc-icon nc-bag "></i> {{offre.Personel.poste}}</li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>
                                        {{offre.description}}
                                    </p>
                                    <div class="read-more">
                                        <a (click)="showDetail(offre)">Read More</a>
                                    </div>
                                </div>

                            </article>
                            <!-- End blog entry -->
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <pagination-controls class="my-pagination" (pageChange)=" p = $event"></pagination-controls>
                    </div>

                </div>
                <!-- End blog entries list -->
            </div>
        </div>
    </section>
</div>
<div *ngIf="confirmProfil" class="notif-container col-11 col-sm-4 alert alert-info alert-with-icon" role="alert">
    <button type="button" aria-hidden="true" class="close" (click)="closeNotif()"><i class="nc-icon nc-simple-remove"></i></button>
    <span data-notify="icon" class="nc-icon nc-circle-09"></span>
    <span data-notify="title">Completer votre profil : <a data-notify="title" [routerLink]="['/home/profil']"> profil </a></span>

</div>