<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Liste des Enseignant</h4>
                        <div style="float: right; display: flex;">
                            <input type="search" [(ngModel)]="searchName" style=" margin-top: 5px;" *ngIf="tSearch" class="form-control" placeholder="First name" value=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a _ngcontent-htr-c55=" " class="btn btn-outline mt-1 " (click)="toggleSearch()">
                                <i class="nc-icon nc-zoom-split "></i>&nbsp;&nbsp;Search</a>
                        </div>
                    </div>
                    <div class="card-body table-full-width table-responsive ">
                        <table class="table table-hover table-striped ">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>email</th>
                                <th>PhoneNumber</th>
                                <th>Matricule</th>
                                <th>delete</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let teacher of listTeacher | serchTeacher: searchName | slice: (page-1) * 10 : page * 10">
                                    <td>{{teacher.id}}</td>
                                    <td>{{teacher.lastname}} {{teacher.firstname}}</td>
                                    <td>{{teacher.email}}</td>
                                    <td>{{teacher.phonenumber}}</td>
                                    <td>{{teacher.matricule}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="deleteTeacher(teacher.id)">DELETE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ngb-pagination *ngIf="listTeacher" class="d-flex justify-content-center" [(page)]="page" [pageSize]="10" [collectionSize]="listTeacher.length"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>