<ng-template #content let-modal>
    <div class="jw-modal">
        <div class="row col-md ">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <h4 *ngIf="_offreId ==0" class="card-title">Ajouter un Offre</h4>
                        <h4 *ngIf="_offreId !=0" class="card-title">Modifier L'Offre</h4>
                    </div>
                    <div class="card-body">
                        <!-- ========= end  offer form ========== -->
                        <form [formGroup]="offerForm">
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Titre</label>
                                        <input type="text" class="form-control" placeholder="Ttle" b formControlName="title">
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Poste</label>
                                        <input type="text" formControlName="poste" class="form-control" placeholder="teacher...">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">date limite</label>
                                        <input type="date" class="form-control" formControlName="deadline">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- ========= end  offer form ========== -->
                            <div class="text-center alert alert-success opacity" role="alert" *ngIf="userUploaded">

                            </div>
                            <button type="submit " class="btn btn-info btn-danger pull-right" (click)="addOffer() ">Registrer</button>
                            <div class="clearfix "></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jw-modal-background"></div>
</ng-template>

<div style="padding-top: 200px;">
    <div>
        <h5 class="section-title h1">NOTRE OFFRE</h5>
    </div>
    <div class="section-title d-flex justify-content-center">
        <button (click)="offreFormOpen(content,0)" type="button" class="btn btn-danger pull-right">Ajouter une Offre</button>
    </div>
    <!-- ============================================================== -->
    <section id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 entries">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-stretch" *ngFor="let offre of listOffres">
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="assets/img/blog-1.jpg" alt="" class="img-fluid">
                                </div>

                                <h2 class="entry-title">
                                    {{offre.title}}</h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="nc-icon nc-time-alarm"></i> <time datetime="2020-01-01"> {{offre.deadline}}</time></li>
                                    </ul>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"> <i class="nc-icon nc-bag "></i> {{offre.poste}}</li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>
                                        {{offre.description}}
                                    </p>
                                    <div>
                                        <button type="submit " style="margin-right:10px" class="btn btn-danger " (click)="UpdateFormOpen(content,offre)">Mettre à jour </button>
                                        <button type="submit " class="btn btn-danger " style="margin-right:50px" (click)="deleteOffre(offre.id)">Supprimer </button>
                                    </div>
                                </div>

                            </article>
                            <!-- End blog entry -->
                        </div>



                    </div>

                    <!-- <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li class="disabled"><i class="icofont-rounded-left"></i></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- End blog entries list -->
            </div>
        </div>
    </section>
    <!-- ============================================================== -->

</div>